{% extends "teamgroups/base.html" %}
{% load guardian_tags %}

{% block content %}
    <h1>{{ teamgroup.name }}</h1>

    <h2>Members</h2>

    <ul>
        {% for member in teamgroup.active_members %}
            <li>
                <span>
                    {{ member.get_full_name }}
                    <small>({{ member.email }})</small>
                </span>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'send_invitation' teamgroup.slug %}">Invite Members</a>

    {% get_obj_perms request.user for teamgroup as 'teamgroups_perms' %}

    {% if 'change_teamgroup' in teamgroups_perms %}
        <a href="{% url 'edit_teamgroup' teamgroup.slug %}">Edit</a>
    {% endif %}

    {% if 'delete_teamgroup' in teamgroups_perms %}
        <a href="{% url 'delete_teamgroup' teamgroup.slug %}">Delete</a>
    {% endif %}

    <a href="{% url 'leave_teamgroup' teamgroup.slug %}">Leave</a>
</div>
{% endblock content %}
